.global-header-container {
  padding: 0 24px 0 0;
  line-height: 64px;
  @extend [layout];
  @extend [layout=row];
  @extend [layout-align="space-between center"];
  @include size(100%, 64px);
  .trigger {
    cursor: pointer;
    padding: 0 24px;
    font-size: 18px;
    transition: color .3s;
    line-height: 64px;
    &:hover {
      color: #1890ff;
    }
  }
}